Options All -Indexes

<Files wp-config.php>
order allow,deny
deny from all
</Files>

# Stop Apache from serving .ht* files
<Files ~ "^\.ht">
Order allow,deny
Deny from all
</Files>

# Protect wp-login
<Files wp-login.php>
AuthUserFile /usr/home/vhosts/site-44.srv020.serveur-dedie.fr/htdocs/.htpswd
AuthName "Private access"
AuthType Basic
require valid-user
</Files>


<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^dbashbourne.com [NC,OR]
RewriteCond %{HTTP_HOST} ^dbashbourne.co.uk [NC,OR]
RewriteCond %{HTTP_HOST} ^www.dbashbourne.co.uk [NC,OR]
RewriteCond %{HTTP_HOST} ^www.dbashbourne.com [NC]
RewriteRule ^(.*)$ http://ethypharm.co.uk/$1 [L,R=301,NC]
 </IfModule>


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /edsa-dbashbourne/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress